<section class="container">
    <h1 class="title">Создание дохода/расхода</h1>
    <div class="create">
        <input type="text" placeholder="Тип..." class="mb-2">
        <input type="text" placeholder="Категория..." class="mb-2">
        <input type="text" placeholder="Сумма в $..." class="mb-2">
        <input type="text" placeholder="Дата..." class="mb-2">
        <input type="text" placeholder="Комментарий..." class="mb-2">
        <div class="create-active mt-3">
            <a href="#" class="btn btn-success me-2">Создать</a>
            <a href="#/expensesAndIncome" class="btn btn-danger">Отмена</a>
        </div>
    </div>
</section>
<div class="popup">
    <div class="popup-text mb-4">
        Вы действительно хотите удалить операцию?
    </div>
    <div class="popup-active">
        <button class="btn active-btn btn-success me-3 mb-0">Да, удалить</button>
        <button class="btn active-btn btn-danger mb-0">Не удалять</button>
    </div>
</div>
