<section class="container">
    <h1 class="title">Редактирование категории доходов</h1>
    <div class="create">
        <input type="text" id="input-name-income">
        <div class="create-active">
            <a href="#/income" id="btn-save-income" class="btn btn-success me-2">Сохранить</a>
            <a href="#/income" class="btn btn-danger">Отмена</a>
        </div>
    </div>
</section>
<div class="popup">
    <div class="popup-text mb-4">
        Вы действительно хотите удалить операцию?
    </div>
    <div class="popup-active">
        <button class="btn active-btn btn-success me-3 mb-0">Да, удалить</button>
        <button class="btn active-btn btn-danger mb-0">Не удалять</button>
    </div>
</div>
