<section class="container">
    <h1 class="title">Расходы</h1>
    <div class="category-items d-flex row row-cols-3" id="category-expense-items">

    </div>

    <div class="popup" id="popup-expenses">
        <div class="popup-box">
            <div class="popup-text mb-4">
                Вы действительно хотите удалить категорию?
            </div>
            <div class="popup-active">
                <button id="popup-delete-category-expense" class="btn btn-success me-3">Да, удалить</button>
                <a href="#/expenses" class="btn btn-danger">Не удалять</a>
            </div>
        </div>
    </div>
</section>
