<section class="container">
    <h1 class="title">Доходы</h1>
    <div class="category-items d-flex row row-cols-3">
        <div class="category-item">
            <div class="category-item-name">
                Депозиты
            </div>
            <div class="category-item-active">
                <a href="#/editCategoryIncome" class="edit-btn-income btn btn-primary me-2">Редактировать</a>
                <button class="delete-btn btn btn-danger">Удалить</button>
            </div>
        </div>
        <div class="category-item">
            <div class="category-item-name">
                Зарплата
            </div>
            <div class="category-item-active">
                <a href="#/editCategoryIncome" class="edit-btn-income btn btn-primary me-2">Редактировать</a>
                <button class="delete-btn btn btn-danger">Удалить</button>
            </div>
        </div>
        <div class="category-item">
            <div class="category-item-name">
                Сбережения
            </div>
            <div class="category-item-active">
                <a href="#/editCategoryIncome" class="edit-btn-income btn btn-primary me-2">Редактировать</a>
                <button class="delete-btn btn btn-danger">Удалить</button>
            </div>
        </div>
        <div class="category-item">
            <div class="category-item-name">
                Инвестиции
            </div>
            <div class="category-item-active">
                <a href="#/editCategoryIncome" class="edit-btn-income btn btn-primary me-2">Редактировать</a>
                <button class="delete-btn btn btn-danger">Удалить</button>
            </div>
        </div>
        <a href="#/createCategoryIncome"
           class="category-item category-item-add d-flex justify-content-center align-items-center">
            +
        </a>
    </div>

    <div class="popup" id="popup-income">
        <div class="popup-box">
            <div class="popup-text mb-4">
                Вы действительно хотите удалить категорию? Связанные доходы будут удалены навсегда.
            </div>
            <div class="popup-active">
                <button class="btn btn-success me-3">Да, удалить</button>
                <a href="#/income" class="btn btn-danger">Не удалять</a>
            </div>
        </div>
    </div>
</section>
