<section class="container">
    <h1 class="title">Доходы</h1>
    <div class="category-items d-flex row row-cols-3" id="category-income-items">

    </div>

    <div class="popup" id="popup-income">
        <div class="popup-box">
            <div class="popup-text mb-4">
                Вы действительно хотите удалить категорию? Связанные доходы будут удалены навсегда.
            </div>
            <div class="popup-active">
                <button id="popup-delete-category-income" class="btn btn-success me-3">Да, удалить</button>
                <a href="#/income" class="btn btn-danger">Не удалять</a>
            </div>
        </div>
    </div>
</section>
