<section class="container">
    <h1 class="title">Главная</h1>
    <div class="menu">
        <ul class="d-flex align-items-center p-0">
            <li class="nav-link active">
                <button class="button">Сегодня</button>
            </li>
            <li>
                <button class="button">Неделя</button>
            </li>
            <li>
                <button class="button">Месяц</button>
            </li>
            <li>
                <button class="button">Год</button>
            </li>
            <li>
                <button class="button">Все</button>
            </li>
            <li>
                <button class="button">Интервал</button>
            </li>
            <li class="menu-date">
                с <a href="#">Дата</a>
            </li>
            <li class="menu-date">
                по <a href="#">Дата</a>
            </li>
        </ul>
    </div>
    <div class="charts">
        <div>
            <span class="title">
                Доходы
            </span>
            <div class="chart">
                <canvas id="incomeChart">

                </canvas>
            </div>
        </div>
        <div class="divider">

        </div>
        <div>
            <span class="title">
                Расходы
            </span>
            <div class="chart">
                <canvas id="expensesChart">

                </canvas>
            </div>
        </div>
    </div>
</section>
