* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Roboto-Medium;
    src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
    font-family: Roboto-Regular;
    src: url("../fonts/Roboto-Regular.ttf");
}

body {
    font-family: Roboto-Regular, sans-serif;
}

.container {
    padding: 100px 0 133px 60px;
    max-width: 1200px;
}

.title {
    font-family: Roboto-Medium,sans-serif;
    font-size: 40px;
    color:#052C65;
    margin-bottom: 40px;
}