* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Roboto-Medium;
    src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
    font-family: Roboto-Regular;
    src: url("../fonts/Roboto-Regular.ttf");
}

body {
    font-family: Roboto-Regular, sans-serif;
}

