.title {
    margin-bottom: 40px;
}

.category-item {
    border: 1px solid #CED4DA;
    border-radius: 10px;
    width: 352px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px;
    height: 121px;
}

.category-item-name {
    font-family: Roboto-Medium, sans-serif;
    font-size: 28px;
    line-height: 33px;
    color: #290661;
    margin-bottom: 10px;
}

.category-item-add {
    font-family: Roboto-Medium, sans-serif;
    font-size: 28px;
    line-height: 33px;
    color: #CED4DA;
    text-align: center;
    /*padding: 44px;*/
}

.popup {
    max-width: 530px;
    border: 1px solid #CED4DA;
    border-radius: 12px;
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
    position: fixed;
    top: 40%;
    left: 30%;
    background: white;
    display: none;
}

.popup-text {
    font-family: Roboto-Medium, sans-serif;
    font-size: 20px;
    line-height: 23px;
    color: #290661;
}

.btn {
    font-family: Roboto-Medium, sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 11px 16px;
}

.create {
    display: flex;
    flex-direction: column;
}

.create input {
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #6C757D;
    font-size: 15px;
    line-height: 24px;
    padding: 7px 0 7px 16px;
    max-width: 397px;
}