.container {
    padding: 100px 0 133px 60px;
}
h1 {
    font-family: Roboto-Medium,sans-serif;
    font-size: 40px;
    line-height: 47px;
    color: #052C65;
    margin-bottom: 60px;
}

.menu ul li {
    list-style: none;
    margin-right: 20px;
}

.btn {
    border: 1px solid #6C757D;
    padding: 9px 0;
    width: 100px;
    font-family: Roboto-Medium,sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #6C757D;
}

.btn:hover, .btn:active, .btn:visited, .btn:focus, .btn:focus-visible {
    background: #6C757D !important;
    color: #FFFFFF !important;
}

.menu ul li a {
    color: #6C757D;
    text-decoration: none;
    border-bottom: 1px solid #6C757D;
    font-family: Roboto-Medium,sans-serif;
    font-size: 16px;
    line-height: 19px;
}

.menu-date a {
    margin-left: 9px;
}